<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Balloon Race</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/race">Race</a></li>
                    <li><a href="/leaderboard">Leaderboard</a></li>
                    {{#if username}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                {{username}} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    {{else}}
                        <li><a href="/login">Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</nav>
