<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>The Great Balloon Race</title>
    <link rel="stylesheet" href="./bower_components/bootswatch-dist/css/bootstrap.css">
    <link rel="stylesheet" href="./css/bundle.css">
</head>
<body>
{{> navbar this}}
<div class="container">
    {{{body}}}
</div>
</body>
<script src="./bower_components/jquery/dist/jquery.js"></script>
<script src="./bower_components/bootswatch-dist/js/bootstrap.js"></script>
<script src="./profile-build.js"></script>
</html>
