<div class="row">
    <div id="title" class="col-lg-12">
        <h1>The Great Balloon Race</h1>
        <p>Welcome to the great balloon race.</p>
        <div class="balloon0"></div>
        <p>Please <a href="/login">login</a>, <a href="/signup">make an account</a> or continue as a <a href="/race">guest..</a></p>
    </div>
</div>
