<div class="row">
    <div id="leaderboard" class="col-lg-6 col-lg-offset-3">
        <h1>Leaderboard</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Place</th>
                <th>Username</th>
                <th>Career Winnings</th>
            </tr>
            </thead>
            <tbody>
            {{{leaderboardRows}}}
            </tbody>
        </table>
    </div>
</div>
