<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div id="login-window">
            <h2>Sign In</h2>
            <h4>Enter your login details..</h4>
            <form method="POST" action="/login">
                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
                <br>
                {{#if message}}
                    {{message}}
                {{/if}}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
            <p>Need an account? <a href="/signup">Signup</a></p>
        </div>
    </div>
</div>
