<div class="row">
    <div class="col-lg-4">
        <div class="br-panel info-subpanel">
            <h2>User Profile</h2>
            <p><strong>Username: </strong>{{username}}</p>
            <p><strong>Current balance: </strong>{{formattedPlayerBalance}}</p>
            <p><strong>Career winnings: </strong>{{formattedCareerWinnings}}</p>
            <p><a id="reset-stats" href="javascript:void(0)">Reset Stats</a></p>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="br-panel info-subpanel">
            <h2>Race History</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Balloon</th>
                    <th>Type</th>
                    <th>Bet Amount</th>
                    <th>Win/Loss</th>
                </tr>
                </thead>
                <tbody>
                {{{raceHistoryRows}}}
                </tbody>
            </table>
            {{{ paginator }}}
        </div>
    </div>
</div>
<!-- MODALS -->
<!-- Reset Confirmation -->
<div id="reset-confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Please confirm!</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you really want to reset your stats?</p>
                <p>Your career earnings will be wiped out, and you'll start with $1000 again..</p>
            </div>
            <div class="modal-footer">
                <button id="reset-confirm-cancel" type="button" class="btn btn-default">Cancel</button>
                <button id="reset-confirm-reset" type="button" class="btn btn-danger">Reset</button>
            </div>
        </div>
    </div>
</div>
