<!-- RACE AREA -->
<div class="row">
    <div id="race-area" class="col-lg-12">
        <div class="row">
            <div class="br-panel info-subpanel commentary-panel">
                <p><span id="commentary-text">&nbsp;</span></p>
            </div>
        </div>
        <div id="lane0" class="row balloon-lane">
            <div id="balloon0" class="balloon balloon-empty">
            </div>
        </div>
        <div id="lane1" class="row balloon-lane">
            <div id="balloon1" class="balloon balloon-empty">
            </div>
        </div>
        <div id="lane2" class="row balloon-lane">
            <div id="balloon2" class="balloon balloon-empty">
            </div>
        </div>
        <div id="lane3" class="row balloon-lane">
            <div id="balloon3" class="balloon balloon-empty">
            </div>
        </div>
        <div id="lane4" class="row balloon-lane">
            <div id="balloon4" class="balloon balloon-empty">
            </div>
        </div>
        <div id="lane5" class="row balloon-lane">
            <div id="balloon5" class="balloon balloon-empty">
            </div>
        </div>
    </div>
</div>
<div id="info-panel" class="row">
    <div class="col-lg-4">
        <div class="br-panel info-subpanel">
            <strong>In this race are:</strong>
            <ol id="balloon-list">
            </ol>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="br-panel info-subpanel">
            {{#if user}}
                <strong>Welcome {{username}}! </strong>
                <strong>Your balance is: </strong> {{formattedPlayerBalance}}
            {{else}}
                <strong>Welcome Guest!</strong>
                <strong>Your balance is: </strong> {{formattedPlayerBalance}} <a href="javascript:void()" id="guest-reset">Reset</a>
            {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="br-panel info-subpanel">
                <div class="row">
                    <div class="col-lg-6">
                        <strong>Balloon</strong>
                    </div>
                    <div class="col-lg-3">
                        <strong>Bet</strong>
                    </div>
                    <div class="col-lg-3">
                        <strong>W-P-S</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <span id="current-bet-balloon-display">No current bet!</span>
                    </div>
                    <div class="col-lg-3">
                        <span id="current-bet-amount-display"></span>
                    </div>
                    <div class="col-lg-3">
                        <span id="current-bet-type-display"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="br-panel info-subpanel">
                <button id="open-betting-modal" class="btn btn-primary">
                    Place a bet!
                </button>
                <button id="start-race-button" class="btn btn-success">
                    Start the race!
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="br-panel info-subpanel">
            <strong>Odds for this race</strong>
            <a href="#win-odds" aria-controls="home" role="tab" data-toggle="tab">Win</a>
            <a href="#place-odds" aria-controls="home" role="tab" data-toggle="tab">Place</a>
            <a href="#show-odds" aria-controls="home" role="tab" data-toggle="tab">Show</a>
            <div id="odds-table" class="row">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="win-odds">
                    </div>
                    <div role="tabpanel" class="tab-pane" id="place-odds">
                    </div>
                    <div role="tabpanel" class="tab-pane" id="show-odds">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODALS -->
<!-- Betting Menu -->
<div id="betting-menu" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>You have {{formattedPlayerBalance}}</p>
                <div>
                    <div class="form-group">
                        <label for="bet-balloon">Balloon</label>
                        <select id="bet-balloon" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="bet-amount">Bet <small id="bet-amount-error" class="error hidden">You don't have enough to place that bet!</small></label>
                        <input type="number" class="form-control" id="bet-amount" min="1" value="{{playerBalance}}" max="{{playerBalance}}" required>
                    </div>
                    <div class="form-group">
                        <label for="bet-type">Type</label>
                        <select id="bet-type" class="form-control">
                            <option>Win</option>
                            <option>Place</option>
                            <option>Show</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button id="place-bet-button" type="button" class="btn btn-primary">
                    Place your bet
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Race Results -->
<div id="race-results" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Results!</h4>
            </div>
            <div id="results-modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <button id="results-close-button" type="button" class="btn btn-default hidden">Close</button>
            </div>
        </div>
    </div>
</div>

