<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div id="signup-window">
            <h2>Sign Up</h2>
            <h4>Enter your details..</h4>
            <form method="POST" action="/signup">
                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
                <br>
                {{#if message}}
                    {{message}}
                {{/if}}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            </form>
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </div>
</div>
