// SASS code to generate animations

// balloon base class

.balloon {
  width: 32px;
  height: 32px;
  position: relative;
}

@mixin balloon($startx, $starty, $playn) {
  background: url(../assets/yellowandxhotairballoon.png) $startx $starty;
  @include animation($playn 1s steps(3) infinite);
}

@mixin animation($animation) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

// define the balloons

// 0
.balloon0 {
  @include balloon(0px, -64px, play0)
}

@include keyframes(play0) {
  100% {
    background-position:  -96px -64px
  }
}

// 1
.balloon1 {
  @include balloon(0px, -192px, play1)
}

@include keyframes(play1) {
  100% {
    background-position:  -96px -192px
  }
}

// 2
.balloon2 {
  @include balloon(-96px, -64px, play2)
}

@include keyframes(play2) {
  100% {
    background-position:  -192px -64px
  }
}

// 3
.balloon3 {
  @include balloon(-96px, -192px, play3)
}

@include keyframes(play3) {
  100% {
    background-position:  -192px -192px
  }
}

// 4
.balloon4 {
  @include balloon(-192px, -64px, play4)
}

@include keyframes(play4) {
  100% {
    background-position:  -288px -64px
  }
}

// 5
.balloon5 {
  @include balloon(-192px, -192px, play5)
}

@include keyframes(play5) {
  100% {
    background-position:  -288px -192px
  }
}

// 6
.balloon6 {
  @include balloon(-288px, -64px, play6)
}

@include keyframes(play6) {
  100% {
    background-position:  -384px -64px
  }
}

// 7
.balloon7 {
  @include balloon(-288px, -192px, play7)
}

@include keyframes(play7) {
  100% {
    background-position:  -384px -192px
  }
}

// empty placeholder
.balloon-empty {
  background: none !important;
}
