.explosion {
  width: 32px;
  height: 32px;
  background: url('../assets/explosion17a.png') left center no-repeat;
  @include animation(play 1.5s steps(26) forwards);
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  animation: $animation;
}

@include keyframes(play) {
  100% {
    background-position:  -832px;
  }
}
