.navbar-brand,
.navbar-nav li a {
  line-height: 50px;
  height: 50px;
  padding-top: 0;
}

body {
  background: url(../assets/Pokemon-clouds-pixel-art--1575035-1680x1050.jpg);
  background-position: 0 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#login-window,
#signup-window,
#title,
#leaderboard,
.br-panel {
  color: #000;
  background-color: #fff;
  padding: 10px 20px 10px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px 0px #004444;
  -moz-box-shadow: 4px 4px 10px 0px #004444;
  box-shadow: 4px 4px 10px 0px #004444;
}

#info-panel {
  margin-top: 20px;
}

.info-subpanel {
  margin: 5px 0 5px 0;
}

.balloon-lane {
  margin-top: 5px;
}

.commentary-panel {
  margin-bottom: 10px;
}

small.error {
  color: red;
}
